<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="TraiderEntities" connectionString="metadata=res://*/Model.Entitie.TraderEntitie.csdl|res://*/Model.Entitie.TraderEntitie.ssdl|res://*/Model.Entitie.TraderEntitie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4I6DFQ3\SQLEXPRESS;initial catalog=Traider01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>